html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,and,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}del{text-decoration:line-through}hr{background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0}mark{background-color:#ffffb3;font-style:italic}input,select{vertical-align:middle}ins{background-color:red;color:white;text-decoration:none}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}

html,body{  height: 100%;  }
.containter{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.3);
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.3);
	box-shadow:0px 0px 20px rgba(0,0,0,.3);
	background:#000;
	width: 100%;
	height: 100%;
	text-align: center;
}
.player{
	width:400px;
	height:300px;
	position: relative;
	margin: 0 auto;
}
.control-bar{
	display: inline-block;
	height: 38px;
	background:url(../images/bg.jpg) repeat;
}
input{
	line-height: 38px;
	width:38px;
	height: 38px;
	background:url(../images/bg.jpg) repeat;
}
input:nth-of-type(1){
	background:url(../images/sprite.png) 0 0;
}
.stop{
	background:url(../images/sprite.png) -38px 0 !important;
}
input:nth-of-type(2){
	width:70px;
}
input:nth-of-type(3){
	width:70px;
}
input:nth-of-type(4){
	background:url(../images/sprite.png) -76px 0;
}
.silence{
	background:url(../images/sprite.png) -114px 0 !important;
}
input:nth-of-type(5){
	background:url(../images/sprite.png) -150px 0;
}

#div1{
		width: 250px;height: 10px; background-color:#666;overflow:visible;position: relative;
		display: inline-block;
	}
#div2{
		width:17px;height: 17px; background:url(../images/handle.png); position: absolute;top:-3px;left: 0px;
		display: inline-block;
	}
#div3{
		width: 40px;height: 10px; background-color:#666;overflow: visible;position: relative;
		display: inline-block;
	}
#div4{
		width:11px;height: 10px; background:url(../images/volume.png); position: absolute;top:0px;left: 30px;
		display: inline-block;
	}